
body, html{
	font-family: 'Droid Sans', sans-serif;
	overflow:hidden;
}

.menuTop{
	color:#979797;
	text-decoration:none;
	cursor:pointer;
	font-size: 20px;
}

a .menuTop:hover{
	background-color:transparent;
}


#bannerTop{
	height:100vh;
	background: url('/images/bannerTop.jpg') center;
	background-attachment: fixed;
	background-repeat:no-repeat;
}

#imageProduct{
	height:100%;
	width:100%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding:1px;
}

#product{
	width:200px;
	margin-top:100px;
	border-radius:20px;
}

nav{
	position:absolute;
	z-index:2222;
}


#productBottom{
	background: #f1e767; /* Old browsers */
	background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
	border: 1px solid;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	font-family: 'Cabin', sans-serif;
}


#page{
	height:100vh;
	width:100%;	
	padding:100px;
	position: fixed;
	top:0;
}




#borderTop{
	position:absolute;
	background-color:rgba(142,142,142,0.5);
	height:1px;
	top:45px;
	left:75px;
	right:75px;
}

#borderBottom{
	position:absolute;
	background-color:rgba(142,142,142,0.5);
	height:1px;
	left:75px;
	right:75px;
	bottom:45px;
}

#borderLeft{
	position:absolute;
	background-color:rgba(142,142,142,0.5);
	width:1px;
	bottom:75px;
	top:75px;
	left:45px;
}

#borderRight{
	position:absolute;
	background-color:rgba(142,142,142,0.5);
	width:1px;
	bottom:75px;
	top:75px;
	right:45px;
}

#right-top{
 	background-color:transparent;
    border: 1px solid rgba(142,142,142,0.5);
    height:50px;
    width:50px;
	right:20px;
	top:20px;
	position:absolute;
}

#left-top{
	background-color:transparent;
    border: 1px solid rgba(142,142,142,0.5);
	width:50px;
	height:50px;
	left:20px;
	top:20px;
	position:absolute;
}

#right-bottom{
	width:50px;
	height:50px;
	background-color:transparent;
    border: 1px solid rgba(142,142,142,0.5);
	bottom:20px;
	right:20px;
	position:absolute;
}

#left-bottom{
	width:50px;
	height:50px;
	background-color:transparent;
    border: 1px solid rgba(142,142,142,0.5);
	left:20px;
	position:absolute;
	bottom:20px;
}



